:root{
  --blue: #0084fd;
  --lightblue: #b5ddff;
  --violet: #9792e4;
  --darkgrey: #333333;
  --lightgrey:#5a6e7f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

img{
  width: 100%;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  line-height: 27px;
}

/* utilities */

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.debug{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

.t-center{
  text-align: center;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-60{
  margin-bottom: 60px;
}

.btn{
  display: inline-block;
  padding: 7px 15px;
  transition: .3s;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.btn:hover{
  box-shadow: 0 0 7px grey;
  border-radius: 15px;
}

.btn.btn-big{
  padding: 10px 50px;
  letter-spacing: .2rem;
  font-weight: bold;
}

.btn.btn-blue{
  background-color: var(--blue);
  color: white;
}

.btn.btn-violet{
  background-color: var(--violet);
  color: white;
}

.btn-dload{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--violet);
}

.btn-dload:hover{
  box-shadow: 0 0 7px grey;
}

/* header */

header{
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 999;
  color: white;
  background-color: var(--blue);
}

header .container{
  height: 100%;
  justify-content: space-between;
}

header .container .logo,
header .container .h-menu{
  height: 100%;
  align-items: center;
  font-size: 30px;
}

/* main */

main{
  padding-top: 75px;
}

/* section demo */

main #demo .row{
  width: 100%;
  padding: 50px 0 80px;
  flex-direction: column;
  flex-wrap: wrap;
}

main #demo .card{
  width: 100%;
  margin-bottom: 30px;
  padding: 30px 25px 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--lightblue);
}

main #demo .card.big-card{
  height: 650px;
  padding-top: 40px;
}

main #demo .card.big-card h3{
  text-align: left;
}

main #demo .card h3{
  color: var(--blue);
  text-align: center;
}

main #demo .card p{
  margin-bottom: 40px;
  font-weight: bold;
  color: var(--lightgrey)
}

main #demo .card .icon i{
  color: var(--blue);
  font-size: 5rem;
}

main #demo .card.big-card .image{
  width: 250px;
  height: 275px;
  overflow: hidden;
}

main #demo .card.big-card .image img{
  width: 250px;
  height: 275px;
  object-fit: cover;
}

/* section planning */

main #planning{
  padding: 60px 0;
  background-color: var(--violet);
}

main #planning .container{
  flex-direction: column;
}

main #planning .card{
  width: 100%;
  flex-direction: column;
}

main #planning .card#strat-plan{
  margin-bottom: 40px;
}

main #planning .card#strat-plan .text{
  color: white;
}

main #planning .card#strat-plan .image{
  margin-bottom: 90px;
}

main #planning .card#app-dev{
  background-color: white;
  padding: 30px 20px;
  border-radius: 50px;
  text-align: center;
}

main #planning .card#app-dev .text p{
  font-size: 1.1rem;
}

/* section testimonials */

main #testimonials{
  padding: 60px 0 110px;
}

main #testimonials .container{
  flex-direction: column;
}

main #testimonials .text,
main #testimonials .people{
  width: 100%;
  height: 500px;
}

main #testimonials .text{
  margin-bottom: 50px;
}

main #testimonials .people{
  margin-bottom: 30px;
  background-color: var(--violet);
}

main #testimonials .people:last-child{
  margin-bottom: 0;
}

/* section benefits */

main #benefits{
  padding: 60px 0 70px;
  background-color: var(--violet);
}

main #benefits .row{
  flex-direction: column;
  flex-wrap: wrap;
}

main #benefits .row .card{
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-color: white;
}

main #benefits .row .card:last-child{
  margin-bottom: 0;
}

/* section about-us */

main #about-us{
  padding: 90px 0 80px;
}

main #about-us .container{
  flex-direction: column;
  flex-wrap: wrap;
}

main #about-us .text{
  width: 100%;
  height: 950px;
  margin-bottom: 50px;
}

main #about-us .image{
  width: 100%;
  height: 430px;
}

/* section get-started */

main #get-started{
  padding: 60px 0;
  background-color: var(--violet);
}

main #get-started .container{
  width: 100%;
  height: 600px;
}

/* footer */

footer{
  height: 230px;
  padding: 40px 0;
  background-color: var(--darkgrey);
}

/* media queries */

/* tablet */
@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
  }
  
  main #demo .row{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  main #demo .card{
    width: calc(100% / 3 - 20px);
  }

  main #demo .card.big-card{
    width: calc(100% / 3 * 2 - 10px);
    align-items: flex-start;
  }

  main #demo .card:nth-child(2){
    height: 650px;
  }

  main #demo .card:nth-child(n+3){
    margin-bottom: 0;
  }

  main #demo .card.big-card p{
    text-align: left;
  }

  main #demo .card p,
  main #demo .card.big-card .text .btn{
    font-size: 1.1rem;
    text-align: center;
  }

  main #planning .card#strat-plan .text h2{
    font-size: 4rem;
  }

  main #testimonials .text,
  main #testimonials .people{
    height: 280px;
  }

  main #benefits .row{
    flex-direction: row;
    justify-content: space-between;
  }

  main #benefits .row .card{
    width: calc(50% - 15px);
  }

  main #benefits .row .card:nth-child(5){
    margin-bottom: 0;
  }

  main #about-us{
    padding: 90px 0 150px;
  }

  main #about-us .container{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  main #about-us .text{
    width: 60%;
    margin-bottom: 0;
  }

  main #about-us .image{
    width: 35%;
    height: 520px;
  }

  main #get-started .container{
    max-width: 600px;
    padding: 0;
  }

  footer .container{
    max-width: 410px;
    padding: 0;
  }
}

/* desktop */
@media screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
  }

  .d-xl-none{
    display: none;
  }

  .d-xl-block{
    display: block;
  }

  .d-xl-flex{
    display: flex;
  }

  header .container .menu{
    height: 100%;
    align-items: center;
  }

  header .container .menu ul{
    height: 100%;
    list-style: none;
  }

  header .container .menu ul li{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  header .container .menu ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
  }

  header .container .menu ul li a:hover{
    text-decoration: underline;
  }
  
  main #demo .row .card{
    height: 350px;
  }

  main #demo .card.big-card{
    flex-direction: row;
    align-items: flex-end;
    padding-top: 30px;
  }
  
  main #demo .card.big-card .text,
  main #demo .card.big-card .image{
    width: 50%;
  }

  main #demo .card.big-card .text{
    margin-bottom: 20px;
  }

  main #demo .card.big-card .image{
    display: flex;
    justify-content: center;
  }

  main #planning .container{
    max-width: 880px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  main #planning .card{
    width: calc(50% - 30px);
  }
    
  main #planning .card#strat-plan{
    margin-bottom: 0;
  }

  main #planning .card#strat-plan .text h2{
    font-size: 2rem;
  }

  main #planning .card#app-dev .image img{
    width: 60%;
  }

  main #benefits .row .card{
    width: calc(100% / 3 - 20px);
  }

  main #benefits .row .card:nth-child(4){
    margin-bottom: 0;
  }

  main #about-us .container{
    padding: 0 80px;
  }
}