*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

/* utilities */

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.debug{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

.t-center{
  text-align: center;
}

/* header */

header{
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 999;
  color: white;
  background-color: #0084fd;
}

header .container{
  height: 100%;
  justify-content: space-between;
}

header .container .logo,
header .container .h-menu{
  height: 100%;
  align-items: center;
}

/* main */

main{
  padding-top: 75px;
}

/* section demo */

main #demo .row{
  width: 100%;
  padding: 50px 0 80px;
  flex-direction: column;
  flex-wrap: wrap;
}

main #demo .card{
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
  background-color: #b5ddff;
}

main #demo .card.big-card{
  height: 600px;
}

/* section planning */

main #planning{
  padding: 60px 0;
  background-color: #9792e4;
}

main #planning .container{
  flex-direction: column;
}

main #planning .card{
  width: 100%;
  height: 600px;
}

main #planning .card#strat-plan{
  margin-bottom: 40px;
}

main #planning .card#app-dev{
  background-color: white;
}

/* section testimonials */

main #testimonials{
  padding: 60px 0 110px;
}

main #testimonials .container{
  flex-direction: column;
}

main #testimonials .text,
main #testimonials .people{
  width: 100%;
  height: 500px;
}

main #testimonials .text{
  margin-bottom: 50px;
}

main #testimonials .people{
  margin-bottom: 30px;
  background-color: #9792e4;
}

main #testimonials .people:last-child{
  margin-bottom: 0;
}

/* section benefits */

main #benefits{
  padding: 60px 0 70px;
  background-color: #9792e4;
}

main #benefits .row{
  flex-direction: column;
  flex-wrap: wrap;
}

main #benefits .row .card{
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  background-color: white;
}

main #benefits .row .card:last-child{
  margin-bottom: 0;
}

/* section about-us */

main #about-us{
  padding: 90px 0 80px;
}

main #about-us .container{
  flex-direction: column;
  flex-wrap: wrap;
}

main #about-us .text{
  width: 100%;
  height: 950px;
  margin-bottom: 50px;
}

main #about-us .image{
  width: 100%;
  height: 430px;
}

/* section get-started */

main #get-started{
  padding: 60px 0;
  background-color: #9792e4;
}

main #get-started .container{
  width: 100%;
  height: 600px;
}

/* footer */

footer{
  height: 230px;
  padding: 40px 0;
  background-color: #333333;
}








/* media queries */

/* tablet */
@media screen and (min-width: 768px){
  main #demo .row{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  main #demo .card{
    width: calc(100% / 3 - 20px);
  }

  main #demo .card.big-card{
    width: calc(100% / 3 * 2 - 10px);
  }

  main #demo .card:nth-child(2){
    height: 600px;
  }

  main #demo .card:nth-child(n+3){
    height: 440px;
  }

  main #planning .card{
    height: 1000px;
  }

  main #testimonials .text,
  main #testimonials .people{
    height: 280px;
  }

  main #benefits .row{
    flex-direction: row;
    justify-content: space-between;
  }

  main #benefits .row .card{
    width: calc(50% - 15px);
  }

  main #benefits .row .card:nth-child(5){
    margin-bottom: 0;
  }

  main #about-us{
    padding: 90px 0 150px;
  }

  main #about-us .container{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  main #about-us .text{
    width: 60%;
    margin-bottom: 0;
  }

  main #about-us .image{
    width: 35%;
    height: 520px;
  }

  main #get-started .container{
    max-width: 600px;
    padding: 0;
  }

  footer .container{
    max-width: 410px;
    padding: 0;
  }
}

/* desktop */
@media screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
  }

  .d-xl-none{
    display: none;
  }

  .d-xl-block{
    display: block;
  }

  .d-xl-flex{
    display: flex;
  }

  header .container .menu{
    height: 100%;
    align-items: center;
  }

  main #demo .row .card{
    height: 350px;
  }

  main #planning .container{
    max-width: 880px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  main #planning .card{
    width: calc(50% - 30px);
  }
    
  main #planning .card#strat-plan{
    height: 750px;
    margin-bottom: 0;
  }

  main #planning .card#app-dev{
    height: 550px;
  }

  main #benefits .row .card{
    width: calc(100% / 3 - 20px);
  }

  main #benefits .row .card:nth-child(4){
    margin-bottom: 0;
  }

  main #about-us .container{
    padding: 0 80px;
  }
}